<%- model_class = Capture -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table id="captures" class="table table-bordered table-condensed datatable" data-source="<%= captures_path %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:time_zone) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      <th><%= model_class.human_attribute_name(:camera_name) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:video) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

</table>

<p>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_capture_path,
            :class => 'btn btn-primary' %>
</p>

<%= content_for :js do %>
<script type="text/javascript">
$(function(){
  $('#captures').dataTable({
    "sPaginationType": "bootstrap",
    bProcessing: true,
    bServerSide: true,
    bStateSave: true,
    sAjaxSource: $('.datatable').data('source'),
    aoColumnDefs: [{ bSortable: false, aTargets: [ -2, -1 ] }]
  });
});
</script>
<% end %>
