<%- model_class = Camera -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:host_uri) %></th>
      <th><%= model_class.human_attribute_name(:capture_path) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><%= link_to camera.name, camera_path(camera) %></td>
        <td><%= camera.host_uri %></td>
        <td><%= camera.capture_path %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_camera_path(camera), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      camera_path(camera),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_camera_path,
            :class => 'btn btn-primary pure-button pure-button-primary' %>
</p>
